<%= sandbox %>

<div class="articles-container">
  <ul class="list-group">
    <% @articles.each do |a| %>
          <%= link_to a.readability_url, class: 'list-group-item article-item', :data => {:id => a.id}  do %>
              <div class="article-title"><%= a.title %>
                <% a.topics.keys.each do |topic| %>
                    <span class="topic-label label label-default pull-right"><%= topic %></span>
                <% end %></div>
            <div class = 'article-info'>
              Tags: <%= a.tags.keys.join(', ') %>
              <br>
              Locations: <%= a.locations.keys.join(', ') %>
              <br>
              Entities: <%= a.entities.keys.join(', ') %>
              <% curr_feed = Feed.find(a.feed_id) %>
              <br>
              <%# image_tag(curr_feed.favicon_url, alt: curr_feed.title, class: 'favicon') %>
              <div class="feed-title"><%= "#{curr_feed.title} | #{a.author} | #{(Date.today - a.published.to_date).to_i} days ago" %></div>
            </div>
          <% end %>
    <% end %>
  </ul>
</div>

<%= bar_chart User.first.topic_percentages %> <%= yield %>